.container{
	width: 95%;
	margin: auto;
}


body{
	background: #444444;
	color: #fff;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	/*Same as above*/
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height: 1.6em;
	margin: 0;
}

.titre{
	text-align: center;
	font-family:sans-serif;
	font-weight: 900;
}

.block1{
	float: left;
	width: 40%;
	padding: 10px;
	box-sizing: border-box;
}
.block1video{
	float: left;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}


.block2{
	float: left;
	width: 60%;
	padding: 10px;
	box-sizing: border-box;
}

.video_box{
	text-align: center;
	border:1px #ccc solid;
	padding:10px;
	border-radius: 15px
}

.flux img{
	max-width:100%;
	max-height:100%;
}

.action{
	text-align: center;
	border:1px #ccc solid;
	padding:10px;
	border-radius: 15px
}

.test img{
	max-width:100%;
	max-height:100%;
}

.test table{
	width:100%;
	height:50%;
}

.PPT{
	text-align: center;
	border:1px #ccc solid;
	padding:10px;
	border-radius: 15px
}

.PPT img{
	max-width:100%;
	max-height:100%;
}
